.profile{
    position: relative;
    width:200px;
    height:200px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left:28%;
}

.profile_image{
    width:200px;
    height:200px;
    border-radius: 50%;
 
   
}


a{
    color:rgb(155, 155, 129);
}

a:hover{
    color:rgb(215, 210, 177);

}


#vh{
    margin-top: 4%;
    margin-bottom:78%;
}

#vh1{
    margin-top: 4%;
    padding-bottom: 350px;
   
}


.btn.btn-outline-secondary.btn-lg {
    border-radius: 30px;
    width: 50%;
}

.footer {
    font-size: smaller;
    text-align: center;
    color:rgb(155, 155, 129);
    position: relative;
    margin-top:70%;
    margin-right:0;
  }

.footer a {
    text-decoration: none;
    font-size: small;
    color:rgb(155, 155, 129)
  }

  .footer a:hover {
    color:#555;
    transition: 0.3s;
  }



  

 

